name: rerun-by-label

on:
  pull_request:
    types:
      - labeled

jobs:
  rerun-workflows:
    if: github.event.label.name == '/rerun'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      actions: write # To rerun workflows
      pull-requests: write # To remove label
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - name: Use int128/rerun-workflows-action
        uses: ./

      - uses: int128/label-action@f1409eb82a734fa5c5c5a1208649fdca9792538b # v1.19.0
        with:
          remove-labels: ${{ github.event.label.name }}
