name: rerun-by-label

on:
  pull_request:
    types:
      - labeled

jobs:
  rerun-workflows:
    if: github.event.label.name == '/rerun'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      actions: write # To rerun workflows
      pull-requests: write # To remove label
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - name: Use int128/rerun-workflows-action
        uses: ./

      - uses: int128/label-action@921f998db9c80997a7fe2570650dda1123fecee6 # v1.9.0
        with:
          remove-labels: ${{ github.event.label.name }}
