name: rerun-by-label

on:
  pull_request:
    types:
      - labeled

jobs:
  rerun-workflows:
    if: github.event.label.name == '/rerun'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      actions: write # To rerun workflows
      pull-requests: write # To remove label
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.19.5
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build

      - name: Use int128/rerun-workflows-action
        uses: ./

      - uses: int128/label-action@921f998db9c80997a7fe2570650dda1123fecee6 # v1.9.0
        with:
          remove-labels: ${{ github.event.label.name }}
